*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size)*.9);
}

body {
    margin: 0;
    overflow: hidden;
}

/* board&cells */

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    background-color: rgba(0, 0, 0, 0.952);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child, .cell:nth-child(7), .cell:nth-child(8) {
    border-bottom: none;
}

.cell.x, .cell.o {
    cursor: none;
}

.board.x .cell:not(.x):not(.o):hover::after {
    content: '×';
    color: rgba(202, 200, 200, 0.075);
    font-size: 160px;
    position: absolute;
    cursor: pointer;
}

.cell.x::before {
    content: '×';
    color: #F2EBD3;
    font-size: 200px;
    position: absolute;
}

.board.o .cell:not(.x):not(.o):hover::after {
    content: '○';
    color: rgba(202, 200, 200, 0.075);
    font-size: 180px;
    position: absolute;
    margin-bottom: 30px;
    cursor: pointer;
}

.cell.o::before {
    content: '○';
    color: #F2EBD3;
    font-size: 220px;
    position: absolute;
    margin-bottom: 30px;
}

/* winning message */

.message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(36, 35, 35, 0.911);
    justify-content: center;
    align-items: center;
    color: rgb(247, 240, 240);
    font-size: 5rem;
    flex-direction: column;
}

.message .btn {
    font-size: 3rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(247, 240, 240);
    padding: .25em .5em;
    border-radius: 10px;
    cursor: pointer;
}
.message button:hover {
    background-color: rgb(240, 240, 240);
    color: rgba(14, 13, 13, 0.185);
    border-color: rgba(228, 228, 228, 0.61);
  }
.message.show {
    display: flex;
}